/* Default reset and styling */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 18px;
}

body {
    width: 1282px;
    display: block;
    margin: 0 auto;
}


/* Top page header section */

header {
    margin-bottom: 40px;
}

header>h1 a {
    font-size: 80px;
}

header>h1 a>span {
    font-size: 80px;
    color: rgb(0, 203, 255);
}


/* Main navigation section */

nav.main-menu {
    background-color: rgb(41, 66, 78);
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

nav.main-menu ul,
aside ul,
footer ul {
    list-style: none;
}

nav.main-menu li {
    display: inline-block;
}

nav.main-menu li:hover {
    border-left: solid 1px rgb(129, 129, 129);
    background-color: rgb(20, 43, 56);
    border-right: solid 1px rgb(129, 129, 129);
}

nav.main-menu a {
    display: block;
    font-size: 24px;
    padding: 15px 30px;
    color: #fff;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
    color: rgb(20, 43, 56);
}


/* Aside navigation menu section */

aside {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    border: solid 1px rgb(172, 175, 178);
    margin-right: 30px;
}

aside a {
    display: block;
    font-size: 30px;
    padding: 15px;
    color: rgb(63, 87, 99);
}

aside a:hover,
aside a:active,
aside a:focus {
    padding-left: 30px;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
}


/* Main content section */

main {
    display: inline-block;
    vertical-align: top;
    width: 940px;
}

article figure {
    border: solid 1px rgb(172, 175, 178);
    text-align: center;
    padding: 50px;
    max-height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
}

article figure img {
    height: 300px;
    transition: transform .8s;
}

article figure:hover img {
    transform: scale(1.3);
    transform-origin: 50% 50%;
}

article p {
    padding: 10px 20px;
}


/* Footer section */

footer {
    background-color: rgb(180, 184, 187);
    margin-top: 40px;
    width: 100%;
    text-align: justify;
    /* position: absolute;
	bottom: 0; */
}

footer:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
}

footer ul {
    margin-left: 20px;
    display: inline-block;
}

footer li,
.copyright {
    display: inline-block;
}

footer li a {
    padding: 19px 10px 0 10px;
    font-size: 28px;
    display: block;
}

footer li a:hover,
footer li a:active,
footer li a:focus {
    text-decoration: underline;
    color: rgb(0, 126, 168);
}

.copyright {
    font-size: 24px;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 30px;
}


/* footer ul::after {
	display: inline-block;
	contain: "Copyright &copy; 2018";
	width: 100px;
	color: blueviolet;
} */